.top {
    display: flex;
    flex-direction: column;
}
.text-top {
    padding: 30px;
    margin: auto;
}
.text-top h1 {
    font-size: 1.2em;
}
.text-message {
    font-size: 2em;
}
.contact-form {
    padding: 30px 0 50px 0;
    background-color: #fff1e1;
}
form {
    width: 80%;
    margin: 0 auto;
}
.btn-submit {
    text-align: center;
}
footer {
    margin-top: 0;
}


@media(min-width: 768px){
    .top {
        flex-direction: row;
    }
    .top img, .text-top {
        width: 50%;
    }
    .text-message {
        font-size: 2.5em;
    }
    form {
        width: 60%;
    }
}
@media(min-width: 1024px){
    .text-top {
        padding: 50px;
        
    }
    form {
        width: 40%;
    }
}